body {
    text-align: center;
}

#startform {
    z-index: 9999;
    background-color: #FEB4DC;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
}

#config {
    position: fixed;
    top: 10px;
    right: 10px;
}

.hidden {
    display: none;
}

.fun-font {
    font-family: "Betania Patmos GDL", cursive;
    font-weight: 400;
    font-style: normal;
}

.birthday-font {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: lavender;
}

hr {
    border: none;
    border-top: 4px dashed plum;
    width: 80%; /* Keeps it from stretching all the way across */
    margin: 20px auto;
}